<form action = '/play' method = 'post'>
  <h1 style = 'color: CornflowerBlue; font-family: monospace'> Please enter Player One's name. </h1>
  <input type="text" name="name1"><br>
  <h1 style = 'color: Chartreuse; font-family: monospace'> Please enter Player two's name. </h1>
  <input type="text" name="name2"><br>
  <input type="submit" value="submit"><br>
</form>
