<form action = '/names' method = 'post'>
  <label style = 'color:Green;font-family:monospace'> Please enter Player One's name. </label>
  <input type="text" name="name1"><br>
  <label style = 'color:Maroon;font-family:monospace'>Please enter Player two's name. </label>
  <input type="text" name="name2"><br>
  <input type="submit" value="submit"><br>
</form>
