<h1 style= 'color: pink; font-family: monospace'>
  Player one is called <%= @player_1_name %>. Player two is called <%= @player_2_name %>.
</h1>

<div class="hit_points">
  <h2>Player one hit points: <%= @player_1_hit_points %></h2>
  <h2>Player two hit points: <%= @player_2_hit_points %></h2>
</div>
